<ul class="cert-grid">
  @for (cert of items(); track cert.title) {
    <li>
      <button class="cert-card" type="button" aria-haspopup="dialog" (click)="open($index)">
        @if (cert.thumbnailUrl) {
          <img class="cert-thumb" [src]="cert.thumbnailUrl" [alt]="cert.title" />
        } @else {
          <span class="cert-placeholder">
            <app-icon name="experience" [size]="40" />
            <span class="cert-title">{{ cert.title }}</span>
          </span>
        }
        <span class="cert-action" aria-hidden="true">
          <app-icon name="certificate" [size]="28" />
        </span>
      </button>
    </li>
  }
</ul>

<app-image-viewer
  dialogId="certificate-preview"
  [items]="viewerItems()"
  [(selectedIndex)]="selectedIndex"
/>
